body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.25rem;
    font-weight: 700;
}

img {
    border-radius: 4%;
    margin-top: 5%;
    max-width: 90%;
    height: auto;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 0.9375rem;
    font-weight: 400;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 4%;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.01);
    margin: auto;
    text-align: center;
    width: 320px;
}

.text-container {
    margin: auto;
    max-width: 80%;
    padding: 10px;
    padding-bottom: 20px;
}

.attribution {
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*@media (max-width: 375px) {

    .container {
        max-width: 85%;
    }
}*/
